@import url(typography.css);
body {
    transition: 0.5s;
}

.wrap {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 70vw;
}

.search-field {
    display: flex;
    align-items: center;
    margin-top: 2.4rem;
    padding: 0.6rem;
    border-radius: 15px;
    box-shadow: 0px 16px 30px -10px #4660bb33;
    background-color: var(--white);

    .search-label {
        display: inline-block;
        width: 1.5rem;
        height: 1.5rem;
        margin: 0.5rem 1.5rem;
        background-image: url(./icon/icon-search.svg);
        background-repeat: no-repeat;
        background-size: cover;
    }

    input {
        flex-grow: 1;
        outline: none;
        border: none;
        background-color: inherit;
        color: inherit;

        &::placeholder {
            color: var(--coral-blue);
        }
    }

    .search {
        position: relative;

        button {
            padding: 0.8rem 1.5rem;
            font-weight: 700;
            border: none;
            border-radius: 10px;
            background-color: var(--blue);
            color: #FFFFFF;
            transition: background-color 0.2s;
            cursor: pointer;
    
            &:hover {
                background-color: var(--blue-hover);
            }
        }

        span {
            opacity: 0;
            position: absolute;
            top: calc(50% - 12.5px);
            left: -6.5rem;
            font-weight: 700;
            color: var(--red);
            transition: opacity 0.5s;

            &.no-results {
                opacity: 1;
            }
        }
    }  
}

header {
    display: flex;
    justify-content: space-between;

    h1 {
        color: #222731;
    }

    .theme-switch {
        display: flex;
        gap: 1rem;
        align-items: center;
        transition: 0.2s;
        cursor: pointer;
        filter: opacity(0.7);

        &:hover {  
            filter: opacity(1);
        }

        span {
            font-size: 0.8rem;
            font-weight: 700;
        }
    }
}

main {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-top: 1.5rem;
    padding: 3rem;
    border-radius: 15px;
    background-color: var(--white);
    opacity: 0;

    &.show {
        opacity: 1;
    }

    .main-info {
        display: flex;
        align-items: flex-start;

        .avatar {
            width: 20%;
            padding-right: 1.5rem;

            img {
                width: 100%;
                border-radius: 50%;
                border: 0.5px solid var(--blue);
            }
        }

        .info {
            position: relative;
            width: 80%;

            h3 {
                color: var(--blue);
            }

            h4 {
                position: absolute;
                top: 0.5rem;
                right: 0.5rem;
                color: var(--gray);
            }
            p {
                margin-top: 1.4rem;
            }
        }
    }

    .repo, .link {
        display: flex;
        width: 80%;
        margin-left: 20%;
    }

    .repo {
        justify-content: space-evenly;
        background-color: var(--gray-white);
        padding: 1rem 0;
        border-radius: 10px;

        h4 {
            color: var(--coral-blue);
        }

        h1 {
            color: var(--smooth-black)
        }
    }

    .link {
        justify-content: space-evenly;
        flex-wrap: wrap;
        color: var(--coral-blue);
        > div {
            display: flex;
            gap: 1.2rem;
            margin-top: 1.5rem;
            width: 50%;

            img {
                height: 25px;
            }
        }
    }
}

a {
    color: inherit;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

.not-available {
    opacity: 0.7;
}

.dark {
    background-color: var(--black);
    color: var(--white);
    transition: 0.3s;

    header h1 {
        color: inherit;
    }

    .wrap > div, main {
        background-color: var(--dark-coral-blue);
    }

    .theme-switch {
        color: var(--white);
            &:hover {
                color: var(--gray-white);
            }
    }

    p {
        color: var(--white);
    }

    .repo {
        background-color: var(--black);
        * {
            color: var(--white);
        }
    }
}

@media (max-width: 1024px) {
    body {
        padding: 1rem;
        font-size: 11px;
    }

    .wrap {
        width: 100%;
    }

    main .main-info .info h4 {
        position: relative;
        top: 0;
        right: 0;
    }

    main .repo, main .link{
        flex-wrap: nowrap;
        width: 100%;
        margin: 0;
    }

    main .link {
        flex-direction: column;
    }
}