@import url(typography.css);
@import url(variables.css);
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: inherit;
}

body {
    overflow-y: hidden;
}

ol, ul {
    list-style: none;
}

button {
    padding: 0.75rem 1.4rem;
    border: transparent 1px solid;
    border-radius: 15px;
    background-color: white;
    color: var(--light-grey);
    transition: 0.2s;
    cursor: pointer;

    &:hover {
        color: var(--black);
    }

    &#register-btn {
        border: var(--medium-grey) 1px solid;

        &:hover {
            border-color: var(--black);
        }
    }
}

.menu {
    display: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.25rem 2.5rem;
    color: var(--light-grey);

    .head-l-side {
        display: flex;
        gap: 4rem;

        nav {
            display: flex;
            gap: 2.5rem;
            
            img {
                width: 8px;
                margin-left: 0.5rem;
                vertical-align: middle;
            }
            
            > div {
                transition: 0.2s;
                cursor: pointer;

                &:hover {
                    color: var(--black);
                    &>img {
                        filter: drop-shadow(0px 0px 0px var(--black));
                    }
                }
            }
        }
    }
}

main {
    display: flex;
    gap: 6rem;
    padding: 4rem 8rem;

    .main-l-side {
        padding: 6.75rem 2rem;

        .title, .desc {
            margin-bottom: 3rem;
        }

        .desc {
            color: var(--medium-grey);
        }

        #learn-more-btn {
            margin-bottom: 6.75rem;
            font-weight: 700;
            background-color: var(--black);
            border: 1px solid var(--black);
            color: white;

            &:hover {
                background-color: white;
                color: var(--black);
            }
        }

        .companys {
            display: flex;
            gap: 2.5rem;
        }
    }

    .main-r-side img {
        max-width: 480px;
    }
}

.dropdown {
    display: none;
    position: absolute;
    width: fit-content;
    padding: 1.5rem;
    border-radius: 10px;
    background-color: white;
    filter: drop-shadow(0px 10px 40px var(--black));
    color: var(--medium-grey);    

    ul {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        
        li {
            transition: 0.1s;
            &:hover {
                color: var(--light-purple);
            }
        }
    }

    .features-icon {
        width: 14px;
        vertical-align: middle;
        margin-right: 1rem;
    }
}

.dropdown-mobile {
    display: block;
    position: relative;
    filter: none;
    padding: 0 0 0 0.5rem;
}

@media (max-width: 640px){
    body {
        overflow-y: visible;
    }

    button {
        display: block;
        width: 100%;
    }

    .menu {
        display: block;
        margin: 1rem;
        text-align: end;
        
        img {
            cursor: pointer;
        }
    }

    header {
        position: fixed;
        top: 0;
        right: -100vw;
        width: max-content;
        height: 100vh;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        padding: 1rem;
        background-color: white;
        
        div, nav {
            flex-direction: column;
            align-items: flex-start;
        }

        .head-l-side nav {
            gap: 1rem;
        }
    }

    main {
        flex-direction: column;
        align-items: center;
        padding: 1rem;
        text-align: center;
        gap: 3rem;

        .main-l-side {
            padding: 0;

            .title{
                margin-bottom: 1rem;
            }

            .desc {
                margin-bottom: 1.5rem;
                color: var(--medium-grey);
            }

            #learn-more-btn {
                width: 30%;
                margin: 0 auto;
                margin-bottom: 3rem;
            }

            .companys {
                display: flex;
                justify-content: center;
                gap: 1.75rem;
            }   
        }

        .main-r-side img {
            max-width: 480px;
        }
    } 
}
